body {
    background-color: black;
    margin: 0;
}

.line {
    position: absolute;
    background-color: white;
}

/*가로*/
.horizontal {
    width: 100%;
    height: 1px;
}

/*세로*/
.vertical {
    width: 1px;
    height: 100%;
}

.target {
    position: absolute;
}

.tag {
    color: white;
    position: absolute;
    font-size: 38px;
    margin: 20px
}